@font-face {
    font-family: "Gotham";
    src:
        url(../myfonts/BOOK/HomepageBaukasten-Book.ttf);
  }
@font-face {
    font-family: "GothamBold";
    src: url(../myfonts/BOLD/HomepageBaukasten-Bold.ttf);
}


href, button {
    cursor: pointer;
}

body {
    width: 100%;
    margin: 0;
    height: 200px;
}

nav {
    display: flex;
    width: 100%;
    margin: 0;
    height: 141px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main {
    width: 100%;
}


.menu_icon {
    display: none;
    width: 40px;
    height: 30px;
}
.menu_icon img {
    width: 40px;
    height: 30px;

}




/* ---------------------------------------------------- */

.nav_container_menu {
    display: flex;
    width: 1240px;
    height: 60px;
    align-items: center;
}

.main_hero {
    display: flex;
    width: 100%;
    height: 600px;
    margin: 0;
    justify-content: center;
    background-color:#13A0FE;
}


.main_hero_container {
    display: flex;
    width: 1240px;
    margin-top: 34px;
}

.main_hero_image img {
    width: 268px;
    object-fit: cover;
    border-radius: 5px;
    height: 498px;
}
.main_hero_container_left {
    margin-left: 61px;

}

.main_hero_container_right {
    margin-left: 79px;
    margin-top: 63px;

}

.main_hero_content_container {
    width: 724px;
    height: 303px;
}

.main_content_title {
    width: 724px;
    height: 110px;
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 48px;
    line-height: 55px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.main_content_title_splitbill {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    color: #FFFFFF;
    background-color: #d8dee2;
    line-height: 55px;
    opacity: 0.9;
}

.main_content_title_center {
    width: 587px;
    height: 27px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-family: "Gotham"; 
    font-size: 28px;
    line-height: 26px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.main_content_title_center h3 {
    margin-top: 10px;
}

.main_hero_content_container_icons {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.main_hero_icon_content {
    width: 180px;
    height: 72px;
  
}

.main_hero_icon_content img {
    width: 180px;
    height: 72px;
    object-fit: cover;
    border-radius: 5px;
}

.main_parter {
    display: flex;
    width: 100%;
    height: 178px;
    justify-content: center;
    background-color: rgba(48, 48, 255, 0.2);
}

.main_parter_container {
    width: 1240px;
    height: 178px;
}

.main_social_image {
    width: 101px;
    height: 104px;
    /* margin-right: 32px; */
    border-radius: 5px;
}

.main_social_image img {
    width: 101px;
    border-radius: 20px;
    object-fit: cover;
}

.main_partner {
    display: flex;
    width: 100%;
    height: 178px;
    background-color: rgba(48, 48, 255, 0.2);
    justify-content: center;
}

.main_partner_container {
    width: 1240px;
    text-align: center;
}
.main_parter_container_contents {
    display: flex;
    margin-top: 8px;
    margin-left: 163px;
    margin-right: 163px;
}

.main_partner_image {
    width: 154.72px;
    height: 115.94px;
    margin-right: 99px;
}

.main_partner_image img {
    width: 154.72px;
    height: 115.94px;
    object-fit: cover;
}


.main_social {
    display: flex;
    width: 100%;
    height: 477px;
    justify-content: center;
}


.main_social_container {
    display: flex;
    width: 1240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_social_container_title {
    width: 658px;
    height: 137px;
    margin-top: 60px;
    font-family: "GothamBold";
    text-align: center;
    font-size: 48px;
    line-height: 60px;
}

.main_social_container_contents {
    width: 972px;
    height: 175px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: 161616;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    opacity: 0.6;
}

.main_social_container_image {
    display: flex;
    width: 436px;
    height: 105px;
    justify-content: space-between;
}

.amazing_content_right {
    width: 542px;
    height: 361px;
}

.amazing_content_right_img {
    width: 542px;
    object-fit: cover;
    height: 361px;
    border-radius: 5px;
}
.amazing_content_right_img img {
    width: 542px;
    object-fit: cover;
}

.main_amazing {
    display: flex;
    width: 100%;
    height: 1618px;
    margin-top: 82px;
    justify-content: center;
}

.main_amazing_container {
    display: flex;
    width: 1240px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main_amazing_container_title {
    width: 658px;
    height: 70px;
    margin-bottom: 14px;
    font-family: "GothamBold";
    font-size: 48px;
    line-height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.main_amazing_container_content {
    display: flex;
    width: 1240px;
    height: 461px;
    margin-top: 50px;
    background: rgba(18, 158, 252, 0.1);}

.main_amazing_content1 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
}

.amazing_content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amazing_content_left_i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45px;
}



.amazing_content_left_top  {
    width: 426px;
    height: 60px;
    color: #161616;
    font-family: "GothamBold";
    font-size: 48px;
    line-height: 60px;
}

.amazing_content_left_bottom  {
    width: 553px;
    height: 40px;
    margin-top: 10px;
    color: #161616;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 40px;
    opacity: 0.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.amazing_content_right {
    width: 542px;
    height: 361px;
    margin-left: 45px;
}

.amazing_content_right_i {
    width: 542px;
    height: 361px;
    /* margin-left: 45px; */
}



 

.amazing_content_right img {
    width: 542px;
    object-fit: cover;
}

.amazing_content_right_i img {
    width: 542px;
    object-fit: cover;
}




 .amazing_content_right_top2  {
    width: 426px;
    height: 60px;
    color: #161616;
    font-family: "GothamBold";
    font-size: 48px;
    line-height: 60px;
}

.amazing_content_right_bottom2  {
    width: 553px;
    height: 40px;
    margin-top: 10px;
    color: #161616;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 40px;
    opacity: 0.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.amazing_content_right2 {
    display: flex;
    margin-left: 45px;
    flex-direction: column;
    justify-content: center;
}
 
.amazing_content_img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px; 
    height: 361px;
    background-color: aqua;
    text-align: center;
}

.main_promo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 546px;
    margin-top: 85px;
}

.main_promo_container{
    display: flex;
    width: 1091px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_promo_container_title {
    width: 162px;
    height: 60px;
    font-family: "GothamBold";
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.main_promo_container_content {
    display: flex;
    width: 1091px;
    height: 436px;
    margin-top: 50px;
    justify-content: space-between;

}
 
.main_promo1_title {
    width: 256px;
    height: 114px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
   
}

.main_promo_title {
    display: flex;
    width: 345px;
    margin-top: 76px;
    justify-content: center;
}

.main_promo1_title_top {
    color: #FFFFFF ;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 30px;
    
}

.main_promo2_title {
    width: 234px;
    height: 76px;
    margin-bottom: 45px;
    color: #FFFFFF ;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}


.main_promo3_title {
    width: 326px;
    height: 76px;
    color: #FFFFFF ;
    font-family: "Gotham";
    font-size: 28px;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}



.main_promo2_image_img {
    width: 278px;
    height: 239px;
}


.main_promo3_image {
    margin-top: 55px;
}

.main_promo3_image_img {
    width: 301px;
    height: 220px;
}

.main_promo3_image_img img{
    width: 301px;
    object-fit: cover;
}

.main_promo2_image_img img{
    width: 278px;
    object-fit: cover;

}
.splitbill  {
    font-family: "Gotham";
    font-size: 28px;
    color: #FFFFFF ;
    line-height: 38px;
    text-decoration-line: underline;
}


.main_promo1_image {
    display: flex;
    align-items: flex-start;
}

.main_promo1_image_img  {
    width: 137px;
    height: 246px;
}
 
.main_promo2_image_img img{
    width: 137px;
    object-fit: cover;
} 



.main_promo1 {
    width: 345px;
    height: 436px;
    background-color:#129EFC;
}


.main_promo2 {
    width: 345px;
    height: 436px;
    background-color: #FE808C     ;
}


.main_promo3 {
    width: 345px;
    height: 436px;
    background-color: #65D58D    ;
}

.nav_menu_split {
    display: flex;
    width: 122px;
    height: 40px;
    line-height: 37px;
    font-size: 28px;
    margin-right: 50px;
}

.nav_menu_split a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: #161616;
  
}

.nav_menu_split a:hover {
    color: blue;
    text-decoration: underline;
}
.nav_menu_main {
    width: 1118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkcyan; */
}

.nav_manu_main_center {
    display: flex;
    justify-content: space-between;
}

.nav_menu_main_m1 {
    width: 130px;
    margin-right: 36px;
    font-family: "Gotham";
    opacity: 0.6;

}
.nav_menu_main_m1 a, .nav_menu_main_m2 a, .nav_menu_main_m3 a, .nav_menu_main_m4 a {
    color: #161616;
    font-family: "Gotham";
    text-decoration: none;
    line-height: 20px;
}

.nav_menu_main_m1 a:hover, .nav_menu_main_m2 a:hover, .nav_menu_main_m3 a:hover, .nav_menu_main_m4 a:hover  {
    color: blue;
    text-decoration: underline;
}

.nav_menu_main_m2 {
    width: 87px;
    margin-right: 40px;
    opacity: 0.6;
}

.nav_menu_main_m3 {
    width: 45px;
    margin-right: 40px;
    opacity: 0.6;
}

.nav_menu_main_m4 {
    width: 45px;
    margin-right: 43px;
    opacity: 0.6;
}

.login_signup {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.login_signup button {
    height: 60px;
}

.signup {
    display: flex;
    height: 60px;
    align-items: center;    
    font-family: "Gotham";
}

.login {
    font-size: 20px;
    font-family: "Gotham";
}

.login a {
    text-decoration: none;
    color: #161616;
    opacity: 0.6;
    line-height: 20px;
}

.signup button {
    display: flex;
    align-items: center; 
    font-family: "Gotham";
    font-size: 20px;
    background-color: #13A0FE;
    border : 1px solid #13A0FE;
    border-radius: 5px;
    line-height: 20px;
}

.login_signup_line {
    height: 60px;
    margin: 0px 25px;
    border: 1px solid black;
    opacity: 0.3;
}


footer {
    width: 100%;
    height: 507px;
    margin-top: 137px;
}


.footer_top_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 412px;
    /* align-items: center; */
    background-color: #13A0FE ;

}

.footer_bottom_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95px;
    background-color: #1D2432 ;
}

.footer_top_container_content {
    display: flex;
    width: 1124px;
    height: 250px;
    margin-top: 104px;
    justify-content: space-between;
}

.footer_bottom_container_content_leanMore{
    width: 138px;
    height: 250px;
}

.footer_bottom_container_content_social {
    width: 100px;
    height: 250px;
}

.footer_bottom_container_content_subscribe {
    width: 316px;
    height: 110px;
}

.footer_bottom_container_content_download {
    width: 180px;
    height: 234px;
}

.footer_top_title {
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 24px;
    line-height: 30px;
}

.footer_top_list {
    margin-top: 30px;
}

.list_content {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 20px;
    line-height: 30px;
}

.footer_input_e {
    width: 245px;
    height: 50px;
}

.footer_input_email{
    width: 245px;
    height: 44px;
    
}

.footer_input_email input {
    font-family: "Gotham";
}

.footer_input_icon {
    display: flex;
    width: 71px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #0070BB;
}

.footer_line {
    text-align: center;
    width: 22px;
    height: 16px;
}

.footer_input {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.footer_top_icons4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.footer_bottom_container{
    width: 100%;
    height: 95px;
}

 
.footer_top_icons_bottom {
    width: 180px;
    height: 72px;
    margin-top: 30px;
}

.footer_top_icons_bottom  img {
    width: 180px;
    height: 72px;
    border-radius: 5px;
    object-fit: cover;

    }

    
.footer_top_icons_top {
    width: 180px;
    height: 72px;
}

.footer_top_icons_top  img {
    width: 180px;
    height: 72px;
    border-radius: 5px;
    object-fit: cover;
    }

    .footer_bottom1, .footer_bottom2, .footer_bottom3 {
        color: #FFFFFF;
        font-family: "Gotham";
        font-size: 16px;
        line-height: 30px;
    }

    .footer_bottom_right {
        display: flex;
        width: 467px;
        height: 30px;
        justify-content: space-between;
    }

    .footer_bottom_container_contents {
        display: flex;
        width:1124px ;
        justify-content: space-between;
        align-items: center;
    }

    .footer_bottom_left {
        width: 207px;
        height: 30px;
        color: #FFFFFF;
        font-family: "Gotham";
        font-size: 20px;
        line-height: 30px;
    }